C:/Users/RP.5049898/Dropbox/Doctorado/Thesis[[:space:]]text/Comparative_Transcriptomics_Regeneration/Manuscript[[:space:]]writing/Additional[[:space:]]files-GitHub/Assembly_Sphaerosyllis_hystrix.fasta filter=lfs diff=lfs merge=lfs -text
C:/Users/RP.5049898/Desktop/Assembly_Sphaerosyllis_hystrix.fasta filter=lfs diff=lfs merge=lfs -text
C:/Users/RP.5049898/Desktop/Transdecoder_predicted_proteins_Sphaerosyllis_hystrix.fasta filter=lfs diff=lfs merge=lfs -text
